<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Cadastro de Contatos</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller/formCtrl.js"></script>
</head>
<body ng-controller="FormCtrl">
	<div class="container" >
		<div class="jumbotron row">
			<div class="formgroup col-xs-12 col-md-4">
				
                <form class="row">
                    
					<legend ng-bind="'Cadastrar'" ng-hide="!editar"></legend>
					<legend ng-bind="'Editar'" ng-show="!editar"></legend>

					<div class="form-group col-xs-12">
						<label for="name">Nome:</label>
						<input type="text" class="form-control" id="name" placeholder="Nome" ng-model="contato.name">
					</div>
					<div class="form-group col-xs-12">
						<label for="email">E-mail:</label>
						<input type="email" class="form-control" id="email" placeholder="E-mail" ng-model="contato.email">
					</div>
					<div class="form-group col-xs-12">
						<label for="fone">Telefone:</label>
						<input type="text" class="form-control" id="fone" placeholder="Telefone" ng-model="contato.fone">
					</div>
					<div class="form-group col-xs-12" ng-hide="!!editar">
						<button type="submit" class="btn btn-primary pull-right" ng-click="salvarContato(contato)">Adicionar</button>
					</div>
					<div class="form-group col-xs-12 " ng-show="!!editar">
						<button type="submit" class="btn btn-danger pull-right" ng-click="cancelarContato()">Cancelar</button>
						<button type="submit" class="btn btn-primary pull-right" ng-click="salvarContato(contato)">Salvar</button>
					</div>
		
				</form>
                
			</div>
			<div class="formgroup col-xs-12 col-md-8">
				<table class="table table-striped table-bordered" ng-show="!!contato">
					<thead>
						<tr>
							<th>Nome</th>
							<th>E-mail</th>
							<th>Telefone</th>
							<th>Opções</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="contato in contatos">
							<td ng-bind="contato.name"></td>
							<td ng-bind="contato.email"></td>
							<td ng-bind="contato.fone"></td>
							<td>
								<button class="btn btn-danger pull-right" ng-click="excluirContato($index)">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
								<button class="btn btn-success pull-right" ng-click="EditarContato($index)">
									<i class="glyphicon glyphicon-pencil"></i>
								</button>
							</td>
						</tr>
                       
					</tbody>
              
				</table>
                
                <div class="row alert alert-info" role="alert" ng-hide="contatos.length > 0">
				    <label>Nenhum contato cadastrado!</label>
			     </div>
                
			</div>
		</div>
	</div>

</body>
</html>